{% extends "expenses/_base.html" %} 
{% block title %}edit income{% endblock %}
{% block content %}
<h1>Edit Income</h1>
<div class="container mt-4">
  <div class="row">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'income' %}">Income</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Edit Income
        </li>
      </ol>
    </nav>
  </div>

  <div class="card shadow-lg">
    <div class="card-body v-stack gap-2">
      <form method="post" action="{% url 'edit-income' income.id %}">
        {% include 'expenses/partials/messages.html' %} 
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="">Amount</label>
          <input
            class="form-control"
            type="text"
            name="amount"
            value="{{ values.amount }}" />
        </div>
        <div class="form-group mb-3">
          <label for="">Description</label>
          <input
            class="form-control"
            type="text"
            name="description"
            value="{{ values.description }}" />
        </div>
        <div class="form-group mb-3">
          <label for="">Source</label>
          <select name="source" class="form-select form-control-sm">
            <option selected name="source" value="{{ values.source }}">
              {{ values.source }}
            </option>
            {% for source in sources %}
            <option value="{{ source.name }}" name="source">
              {{ source.name }}
            </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="">Date of Income</label>
          <input
            class="form-control"
            type="date"
            name="income_date"
            value="{{ values.date | date:'Y-m-d' }}" />
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <input
            type="submit"
            class="btn btn-outline-dark rounded-4"
            value="Update" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
