#header {
    background: linear-gradient(135deg, #008080, #00bfff);
    color: #fff;
}

div.breadcrumbs {
    background: linear-gradient(135deg, #008080, #00bfff);
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}


input[type="submit"], 
input[type="button"],
.submit-row input {
    background: linear-gradient(135deg, #008080, #00bfff);
}

.module h2, .module caption, .inline-group h2 {
    background: #319abd;
}