{% extends "expenses/_base.html" %} 
{% load static %} 
{% block title %}expense-summary{% endblock %} 
{% block content %} 
{% include 'expenses/partials/messages.html' %}
<div class="container mt-4">
  <hr class="my-4" />
  <div class="row">
    <div class="col-md-10">
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %}">Expense Summary</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Summary
          </li>
        </ol>
      </nav>
    </div>
    <div class="col-md-2">
      <a
        href="{% url 'home' %}"
        class="btn btn-outline-success rounded-pill"
        >Back</a
      >

      
    </div>
    <div>
        <div>
            <canvas id="myChart" width="600" height="600"></canvas>
          </div>
    </div>
  </div>
  
</div>

<script src="{% static 'js/stats.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
      integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
{% endblock %}
